<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>frames</key>
	<dict>
		<key>exp1.png</key>
		<dict>
			<key>frame</key>
			<string>{{198,152},{28,28}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{18,18},{28,28}}</string>
			<key>sourceSize</key>
			<string>{64,64}</string>
		</dict>
		<key>exp2.png</key>
		<dict>
			<key>frame</key>
			<string>{{66,200},{52,54}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{6,5},{52,54}}</string>
			<key>sourceSize</key>
			<string>{64,64}</string>
		</dict>
		<key>exp3.png</key>
		<dict>
			<key>frame</key>
			<string>{{68,134},{60,64}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{2,0},{60,64}}</string>
			<key>sourceSize</key>
			<string>{64,64}</string>
		</dict>
		<key>exp4.png</key>
		<dict>
			<key>frame</key>
			<string>{{68,68},{64,64}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{64,64}}</string>
			<key>sourceSize</key>
			<string>{64,64}</string>
		</dict>
		<key>exp5.png</key>
		<dict>
			<key>frame</key>
			<string>{{2,134},{64,64}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{64,64}}</string>
			<key>sourceSize</key>
			<string>{64,64}</string>
		</dict>
		<key>exp6.png</key>
		<dict>
			<key>frame</key>
			<string>{{68,2},{64,64}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{64,64}}</string>
			<key>sourceSize</key>
			<string>{64,64}</string>
		</dict>
		<key>exp7.png</key>
		<dict>
			<key>frame</key>
			<string>{{2,68},{64,64}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{64,64}}</string>
			<key>sourceSize</key>
			<string>{64,64}</string>
		</dict>
		<key>exp8.png</key>
		<dict>
			<key>frame</key>
			<string>{{2,2},{64,64}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{64,64}}</string>
			<key>sourceSize</key>
			<string>{64,64}</string>
		</dict>
		<key>exp9.png</key>
		<dict>
			<key>frame</key>
			<string>{{134,2},{62,62}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{1,1},{62,62}}</string>
			<key>sourceSize</key>
			<string>{64,64}</string>
		</dict>
		<key>exp10.png</key>
		<dict>
			<key>frame</key>
			<string>{{134,66},{62,62}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{1,1},{62,62}}</string>
			<key>sourceSize</key>
			<string>{64,64}</string>
		</dict>
		<key>exp11.png</key>
		<dict>
			<key>frame</key>
			<string>{{130,192},{62,60}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{1,2},{62,60}}</string>
			<key>sourceSize</key>
			<string>{64,64}</string>
		</dict>
		<key>exp12.png</key>
		<dict>
			<key>frame</key>
			<string>{{134,130},{62,60}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{1,2},{62,60}}</string>
			<key>sourceSize</key>
			<string>{64,64}</string>
		</dict>
		<key>exp13.png</key>
		<dict>
			<key>frame</key>
			<string>{{2,200},{62,52}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{1,6},{62,52}}</string>
			<key>sourceSize</key>
			<string>{64,64}</string>
		</dict>
		<key>exp14.png</key>
		<dict>
			<key>frame</key>
			<string>{{198,52},{42,48}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{11,8},{42,48}}</string>
			<key>sourceSize</key>
			<string>{64,64}</string>
		</dict>
		<key>exp15.png</key>
		<dict>
			<key>frame</key>
			<string>{{198,102},{40,48}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{12,8},{40,48}}</string>
			<key>sourceSize</key>
			<string>{64,64}</string>
		</dict>
		<key>exp16.png</key>
		<dict>
			<key>frame</key>
			<string>{{198,2},{42,48}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{11,8},{42,48}}</string>
			<key>sourceSize</key>
			<string>{64,64}</string>
		</dict>
	</dict>
	<key>metadata</key>
	<dict>
		<key>format</key>
		<integer>2</integer>
		<key>realTextureFileName</key>
		<string>explosion.png</string>
		<key>size</key>
		<string>{242,254}</string>
		<key>smartupdate</key>
		<string>$TexturePacker:SmartUpdate:735a17ae67dcb7e3c0d73f1ef66b6520:96c399660efe41ef9b4dcb71f72928a1:c5a2c42043f2b0dda1e7e7adb0cc6144$</string>
		<key>textureFileName</key>
		<string>explosion.png</string>
	</dict>
</dict>
</plist>
